[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Repository for Programming Assignment 2 for R Programming on Coursera
[access "refs/*"]
	owner = group user/sanjeevaReddych
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sanjeevaReddych
	label-Verified = -1..+1 group user/sanjeevaReddych
	push = group user/sanjeevaReddych
	read = group user/sanjeevaReddych
	rebase = group user/sanjeevaReddych
	removeReviewer = group user/sanjeevaReddych
	submit = group user/sanjeevaReddych
[access "refs/heads/*"]
	create = group user/sanjeevaReddych
	push = +force group user/sanjeevaReddych
	pushMerge = group user/sanjeevaReddych
	read = group user/sanjeevaReddych
[access "refs/tags/*"]
	push = group user/sanjeevaReddych
	push = +force group user/sanjeevaReddych
